:root{
    --ver:#e50914;
    --pre:#1a1a1a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*base*/

header .container{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

body{
    background-color: var(--pre);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .logo{
    margin-left: 35px;
    color: var(--ver);
    font-family:'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: white;
}

/*filme principal*/

.filmeprincipal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)), url('/imagens/capa-house.jpg');
    height:400px;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filmeprincipal .descrição{
    margin-bottom: 40px;
}

.titulo{
    font-size: 40px;
}