:root{
    --ver:#e50914;
    --pre:#1a1a1a;
}


body .titulo2{
    text-align: center;
    color: var(--ver);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body{
    background-color: var(--pre);
}

body .botoes{
   display: flex;
   align-items: center;
   justify-content: center;
}

.botoes a img{
    width: 250px;
    height: auto;

}

.botoes a{
    margin-right: 3rem;
    height: 375px;
    text-decoration-line: none;

}

.botoes a:hover{
    box-shadow: 0 0 1em black;
}
.botoes a p{
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}